<?xml version="1.0"?>

<!-- Standalone URDF xacro that instantiates crab_claw_v1 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_2f_140">

    <xacro:arg name="robotiq_description" default="$(env ROBOTIQ_DESCRIPTION_PATH)"/>

    <xacro:arg name="config_file" default="$(arg robotiq_description)/urdf/config/robotiq_2f_140_2f_140_v0.0.0.yaml"/>
    <xacro:property name="config_file" value="$(arg config_file)"/>
    <xacro:property name="cfg" value="${xacro.load_yaml(config_file)}"/>

    <xacro:property name="plugin" value="${cfg['plugin']}" />
    <xacro:property name="reflect" value="${cfg['args']['reflect']}" />    
    <xacro:property name="prefix" value="${cfg['info']['prefix']}" />

    <xacro:property name="world_xyz" value="${cfg['args']['world_xyz']}" />
    <xacro:property name="world_rpy" value="${cfg['args']['world_rpy']}" />
    <xacro:property name="base_xyz" value="${cfg['args']['base_xyz']}" />
    <xacro:property name="base_rpy" value="${cfg['args']['base_rpy']}" />

    <xacro:if value="${plugin != 'none'}">
        <xacro:include filename="$(arg robotiq_description)/urdf/robotiq_2f_140.ros2_control.xacro"/>
        <xacro:gripper_v1_ros2_control prefix="${prefix}" plugin="${plugin}"/>
    </xacro:if>

    <link name="world"/>

    <joint name="world_to_base" type="fixed">
        <origin xyz="${world_xyz}" rpy="${world_rpy}"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

   <link name="base_link"/>
    
    <joint name="base_link_joint" type="fixed">
        <origin xyz="${base_xyz}" rpy="${base_rpy}"/>
        <parent link="base_link"/>
        <child link="${prefix}robotiq_140_base_link"/>
    </joint>

    <xacro:include filename="$(arg robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />
    <xacro:make_hand config_file="${config_file}"/>

</robot>