<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
  <xacro:macro name="robotiq_gripper" params="
        name
        prefix
        sim_gazebo:=false
        sim_isaac:=false
        isaac_joint_commands:=/isaac_joint_commands
        isaac_joint_states:=/isaac_joint_states
        use_fake_hardware:=false
        mock_sensor_commands:=false
        include_ros2_control:=true
        com_port:=/dev/ttyUSB0
        gripper_speed_multiplier:=1.0
        gripper_force_multiplier:=0.5
        gripper_max_speed:=0.250
        gripper_max_force:=125.0
        gripper_closed_position:=0.695">

        <link name="${prefix}robotiq_140_base_link">
        <inertial>
          <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
          <mass value="0.22652" />
          <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://robotiq_description/meshes/visual/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
          <material name="">
            <color rgba="0.1 0.1 0.1 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://robotiq_description/meshes/collision/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
        </collision>
      </link>

      <!-- Include the finger xacros and run them -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140.xacro" />
    <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="140"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="140"/>
    <xacro:finger_joint prefix="${prefix}"/>
    <xacro:right_outer_knuckle_joint prefix="${prefix}"/>
  </xacro:macro>

  <xacro:macro name="make_hand" params="config_file">
    <xacro:property name="cfg" value="${xacro.load_yaml(config_file)}"/>
    <xacro:robotiq_gripper
        name="${cfg['info']['name'] if cfg['info']['name'] else 'Robotiq2F140'}"
        prefix="${cfg['info']['prefix']}"
        sim_gazebo="${cfg['args']['sim_gazebo']}"
        sim_isaac="${cfg['args']['sim_isaac']}"
        isaac_joint_commands="${cfg['args']['isaac_joint_commands']}"
        isaac_joint_states="${cfg['args']['isaac_joint_states']}"
        use_fake_hardware="${cfg['args']['use_fake_hardware']}"
        mock_sensor_commands="${cfg['args']['mock_sensor_commands']}"
        include_ros2_control="${cfg['args']['include_ros2_control']}"
        com_port="${cfg['args']['com_port']}"
        gripper_speed_multiplier="${cfg['args']['gripper_speed_multiplier']}"
        gripper_force_multiplier="${cfg['args']['gripper_force_multiplier']}"
        gripper_max_speed="${cfg['args']['gripper_max_speed']}"
        gripper_max_force="${cfg['args']['gripper_max_force']}"
        gripper_closed_position="${cfg['args']['gripper_closed_position']}">
    </xacro:robotiq_gripper>
  </xacro:macro>

</robot>
