<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />

    <!-- Import macros -->
    <!-- <xacro:arg name="robotiq_description" default="$(env ROBOTIQ_DESCRIPTION_PATH)" /> -->
    <xacro:arg name="robotiq_description" default="$(find robotiq_description)" />

    <xacro:include filename="$(arg robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <link name="world" />
    <xacro:robotiq_gripper
        name="RobotiqGripperHardwareInterface"
        prefix=""
        use_fake_hardware="$(arg use_fake_hardware)"
        com_port="$(arg com_port)" />

    <joint name="world_to_robotiq_85_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="robotiq_85_base_link" />
    </joint>
</robot>
